.blog-content {
}

.blog-content h1 {
    font-size: 2.5rem;
    padding: 2rem 0;
    color: #ccc;
}

.blog-content h2 {
    font-size: 2rem;
    padding: 2rem 0;
    color: #ccc;
}

.blog-content h3 {
    font-size: 1.75rem;
    padding: 2rem 0;
    color: #ccc;
}

.blog-content img {
    max-width: 35%;
    height: auto;
    margin: 1rem 0;
}

.blog-content pre {
    background-color: #333;
    color: #ccc;
    padding: 1rem;
    border-radius: 5px;
    overflow-x: auto;
}
